* {
  box-sizing: border-box;
}
body {
  background: #f9f9f9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* #white_box {
  display: flex;
  background-color: #fff;
  width: 40%;
  height: 10%;
  margin: 4rem 10rem 2rem 27rem;
  color: rgb(62, 163, 62);
  padding: 2rem 1rem;
  margin: 0;
  font-weight: 700;  border-radius: 5px;
  box-shadow: 0 0 5px gray;
} */

.parent{
  margin-top: 10rem;
}

.white_box{
  display: flex;
  background-color: #fff;
  width: 40%;
  height: 20%;
  border-radius: 7px;
  box-shadow: 0 0 5px gray;
  padding: 2rem 1rem;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 2rem;
  border: none;
  flex-wrap: wrap;
  background: #fff;
  padding: 3rem 1rem;
  color: rgb(62, 163, 62);
}



.fa-square-minus {
  float: right;
  color: rgb(62, 163, 62);
}

i{
  float: right;
}
/*hr {
  color: rgb(241, 229, 229);
  margin: 0.5rem 1.2rem 0.2rem 1.2rem;
}*/
details > p {
  border: 1px 0 0 0 solid lightgray;
  margin: 2rem 1.2rem 0.2rem 1.2rem;
  color: rgb(168, 161, 161);
  border-top: 2px solid #858484;
  padding-top: 2rem ;
  font-weight: 300;
}
details {
  list-style-type: none;
  display: block;
}

details > summary {
  border: none;
  cursor: pointer;
  list-style: none;
  padding: 0 1rem;
}

 /*details[open] > summary {
 background: #cff;
}   */            



