#input_search {
  color: darkgoldenrod;
}

#input_search::placeholder {
  color: darkgoldenrod;
}
#icon-btn {
  background-color: darkgoldenrod;
  cursor: pointer;
}

.card-img-top {
  height: 15rem;
}
