body {
  margin: 0;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f8f8f8;
}

section {
  width: 30%;
  background: white;
  text-align: center;
  height: 5%;
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0.1rem;
  box-shadow: 2px 1px 3px 2px rgb(191, 192, 191);
}
h1 {
  font-size: 30px;
  /* padding: 0rem; */
}

#date{
  width: 60%;
  margin: 0.5rem;
  padding: 2px;
}
#calculate{
  width: 20%;
  background: rgb(4, 120, 252);
  color: white;
  border: none;
  border-radius: 0.2rem;
  padding: 7px;
  font-size: 12px;
}














