body {
  background-color: rgb(237, 240, 240);
}
section {
  background-color: white;
  width: 50%;
  height: 340px;
  border: none;
  border-radius: 1%;
  margin: 0 auto;
  margin-top: 7rem;
  padding: 4rem;
  box-shadow: 2px 1px 2px 4px rgb(192, 191, 191)
}

h1 {
  font-size: 40px;
  text-align: center;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
  padding-bottom: 3px;
}

input {
  width: 90%;
  padding: 6px;
  margin: 5px 1px;
}

#calculate {
  width: 92.5%;
  font-size: 23px;
  text-align: center;
  background: rgb(105, 178, 105);
  color: white;
  padding: 5px;
  margin-bottom: 2px;
  border: none;
}

p > b {
  font-size: 25px;
}
