body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

section {
  box-sizing: border-box;
  display: flex;
  width: 80%;
  height: 200px;
  /* padding: 0 2rem; */
  margin: 0 auto;
  margin-top: 2rem;
  flex-direction: column;
}

h2 {
  background: rgb(5, 5, 96);
  color: rgb(254, 252, 252);
  font-size: 30px;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div {
  border: 1px solid white;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px 1px rgb(234, 231, 231);
  margin: 0.5rem;
}

p {
  padding-top: 2rem;
  font-weight: 200;
}
nav {
  padding-top: 4rem;
}

figure {
  display: flex;
  flex-direction: row;
}

figcaption {
  padding-top: 3rem;
}

/*
.class {
  display: block;
  flex-direction: column;
  background: white;
  box-shadow: 2px 2px 2px 2px solid gray;
}
#block > div {
  background-color: white;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 400px;
  box-shadow: lightgray;
} */

img {
  width: 130px;
  height: 135px;
  float: left;
  margin: 3px 15px 0px 1px;
  padding: 0;
  border-radius: 0.5rem;
  flex-wrap: wrap;
}
/* figcaption {
  font-size: large;
  padding: 0.5rem 1rem;
  text-align: left;
  justify-content: center;
}
p {
  font-size: small;
  color: rgb(151, 147, 147);
  padding: 1rem;
  margin: 3rem;
  text-align: center;
} */
a:link,
a:visited {
  background: rgb(5, 5, 120);
  color: white;
  padding: 6px 8px;
  text-align: left;
  text-decoration: none;
  display: block;
  width: 7rem;
  /* float: right; */
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  p {
    color: red;
    font: small;
  }
}
@media screen and (max-width: 900px) {
  div {
    background-color: pink;
  }
}

[class*="block"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .block-s-1 {
    width: 8.33%;
  }
  .block-s-2 {
    width: 16.66%;
  }
  .block-s-3 {
    width: 25%;
  }
  .block-s-3 {
    width: 33.33%;
  }
  .block-s-3 {
    width: 41.66%;
  }
  .block-s-3 {
    width: 50%;
  }
  .block-s-3 {
    width: 58.33%;
  }
  .block-s-3 {
    width: 66.66%;
  }
  .block-s-3 {
    width: 75%;
  }
  .block-s-3 {
    width: 83.33%;
  }
  .block-s-3 {
    width: 91.66%;
  }
  .block-s-3 {
    width: 100%;
  }
}
