* {
  box-sizing: border-box;
}
body {
  font-family: poppins, sans-serif;
  background: #fdfcfc;
  text-align: center;
  justify-items: center;
  height: 0;
}

.oraimo {
  margin: 50px 0px 0px 50px;
  width: 80%;
  text-align: center;
}

section {
  margin: 0 auto;
  padding: 0;
}

header {
  border: none;
  margin: 2px;
}
h2 {
  font-size: 2rem;
  font-weight: 1000;
  text-align: center;
  margin-left: 200px;
  color: #090909;
  /* padding-bottom: 3rem; */
}
#first {
  margin: 0 auto;
  padding: 0 auto;
}

#search {
  width: 25%;
  padding: 0.4rem;
  border: none;
  font-weight: bold;
  box-shadow: 0 0 3px rgb(162, 162, 162);
  border-radius: 3px;
  margin: 0.5rem 0 2rem 12rem;
  text-align: left;
}
#submit {
  width: 7%;
  padding: 0.5rem;
  background: rgba(26, 147, 26, 0.568);
  color: #f0f0f0;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  margin-left: none;
  cursor: pointer;
}

figure:hover {
  background-color: rgb(186, 62, 62);
  opacity: 0.5;
  filter: alpha(opacity=10);
  color: #fff;
}

figure {
  float: right;
  width: 25%;
  border: none;
  box-shadow: 0 0 1px lightgray;
  margin: 0.5rem;
}

figcaption {
  padding: 0.5rem;
  margin: 0rem;
}

figure > img {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .oraimo-s-1 {
    width: 8.33%;
  }
  .oraimo-s-2 {
    width: 16.66%;
  }
  .oraimo-s-3 {
    width: 25%;
  }
  .oraimo-s-4 {
    width: 33.33%;
  }
  .oraimo-s-5 {
    width: 41.66%;
  }
  .oraimo-s-6 {
    width: 50%;
  }
  .oraimo-s-7 {
    width: 58.33%;
  }
  .oraimo-s-8 {
    width: 66.66%;
  }
  .oraimo-s-9 {
    width: 75%;
  }
  .oraimo-s-10 {
    width: 83.33%;
  }
  .oraimo-s-11 {
    width: 91.66%;
  }
  .oraimo-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .oraimo-1 {
    width: 8.33%;
  }
  .oraimo-2 {
    width: 16.66%;
  }
  .oraimo-3 {
    width: 25%;
  }
  .oraimo-4 {
    width: 33.33%;
  }
  .oraimo-5 {
    width: 41.66%;
  }
  .oraimo-6 {
    width: 50%;
  }
  .oraimo-7 {
    width: 58.33%;
  }
  .oraimo-8 {
    width: 66.66%;
  }
  .oraimo-9 {
    width: 75%;
  }
  .oraimo-10 {
    width: 83.33%;
  }
  .oraimo-11 {
    width: 91.66%;
  }
  .oraimo-12 {
    width: 100%;
  }
}
